<div class="container" th:fragment="footer">
  <footer class="bg-dark text-white py-4 mt-5">
    <div class="container text-center">
      <p>&copy; 2024 Equal Bangladesh. All rights reserved.</p>
      <div class="social-links">
        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://equalbangladesh.com" target="_blank" class="text-white me-2" title="Share on Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/intent/tweet?text=Check%20this%20out&url=https://equalbangladesh.com" target="_blank" class="text-white me-2" title="Share on Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <!-- Instagram (Note: Instagram doesn't support direct sharing) -->
        <!--<a href="https://www.instagram.com/" target="_blank" class="text-white me-2" title="Visit Instagram">
          <i class="bi bi-instagram"></i>
        </a>-->
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://equalbangladesh.com&title=Equal%20Bangladesh&summary=Support%20the%20movement" target="_blank" class="text-white me-2" title="Share on LinkedIn">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
