<!-- Navbar -->
<div class="container" th:fragment="header">
    <nav class="navbar navbar-expand-lg text-bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.jpeg}" alt="Logo" width="120" height="40">
            </a>
            <a class="navbar-brand" th:href="@{/}">Equal Bangladesh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file-upload-instruction}">Instructions to Follow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/how}">How</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/why}">Why?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/who}">Who</a>
                    </li>
                    <!-- Account Links for all users -->
                    <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="accountDropdown">

                            <li><a class="dropdown-item" th:href="@{/admin/dashboard}">Dashboard</a></li>
                            <li><a class="dropdown-item" th:href="@{/admin/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
