<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->

    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p th:text="${message}"></p>
            <hr>
            <p class="mb-0">Thank you for your submission. If you have additional cases to submit, feel free to submit
                another form, or you can return to the homepage.</p>
        </div>

        <!-- Buttons to go to the homepage or submit another form -->
        <div class="d-flex justify-content-between mt-4">
            <a href="/" class="btn btn-primary">Return to Homepage</a>
            <a href="/victims/form-selection" class="btn btn-secondary">Submit Another Case</a>
        </div>
    </div>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>