<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body class="d-flex flex-column min-vh-100"> <!-- Flexbox for full height -->
<header th:replace="~{layout/navbar :: header}"></header>

<!-- Main content area takes up remaining space -->
<main class="container mt-4 flex-grow-1">
    <!--all content will be placed here-->
    <h2>Select the Type of Incident to Submit</h2>
    <p>After verifying your email, please select the form type below:</p>

    <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/victims/form-injured}">If you were Injured(আহত হলে)</a></li>
        <li class="list-group-item"><a th:href="@{/victims/form-missing}">If someone is Missing (কেউ নিখোঁজ থাকলে)</a></li>
        <li class="list-group-item"><a th:href="@{/victims/form-death}">For Death (মৃত্যুবরণ করলে)</a></li>
    </ul>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
