<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h2>Select the Type of Incident to Submit</h2>
    <p>After verifying your email, please select the form type below:</p>

    <ul class="list-group">
        <li class="list-group-item"><a th:href="@{/victims/form-injured}">If you are Injured</a></li>
        <li class="list-group-item"><a th:href="@{/victims/form-missing}">If someone is Missing</a></li>
        <li class="list-group-item"><a th:href="@{/victims/form-death}">For Death</a></li>
    </ul>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
