<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h2>How Does Equal Bangladesh Work?</h2>
    <p>We collect victim information through verified submissions. After verification, you can upload detailed reports, photographs, and evidence to help us document the events.</p>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>