<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body class="d-flex flex-column min-vh-100"> <!-- Flexbox for full height -->
<header th:replace="~{layout/navbar :: header}"></header>

<!-- Main content area takes up remaining space -->
<main class="container mt-4 flex-grow-1">
    <!--all content will be placed here-->
    <h2>How Does Equal Bangladesh Work?</h2>
    <p>We collect victim information through verified submissions. After verification, you can upload detailed reports, photographs, and evidence to help us document the events.</p>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>