<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->


    <h2>Enter the OTP sent to your email</h2>
    <form action="/verification/verify" method="post">
        <input type="hidden" name="email" th:value="${email}"/>
        <div class="mb-3">
            <label for="otp" class="form-label">OTP</label>
            <input type="text" class="form-control" id="otp" name="token" required>
        </div>
        <button type="submit" class="btn btn-primary">Verify OTP</button>
        <p th:if="${error}" th:text="${error}" class="text-danger"></p>
    </form>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>
