<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h2>Who Are We?</h2>
    <p>We are a collective of activists, journalists, and concerned citizens committed to documenting the human rights violations happening in Bangladesh.</p>
</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>