<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h2>Why Are We Doing This?</h2>
    <p>Our mission is to raise awareness about the injustices and human rights violations in Bangladesh. By collecting victim stories and evidence, we aim to preserve the truth and fight for justice.</p>

</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>