<!-- layout/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/navbar :: header}"></header>
<main class="container mt-4">
    <!--all content will be placed here-->
    <h3>Search Results</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Incident Type</th>
            <th>Phone Number</th>
            <th>National ID</th>
            <th>Incident Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="victim : ${searchResults}">
            <td th:text="${victim.fullName}"></td>
            <td th:text="${victim.incidentType}"></td>
            <td th:text="${victim.phoneNumber}"></td>
            <td th:text="${victim.nationalId}"></td>
            <td th:text="${victim.incidentDate}"></td>
        </tr>
        </tbody>
    </table>


</main>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>